### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#players_name = purchase_data.loc[:,"SN"].unique()
players_count = purchase_data.drop_duplicates(subset="SN", keep="first")
players_count_df = pd.DataFrame({"Total Players":[len(players_count)]})
players_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
items_ID = purchase_data.loc[:,"Item ID"].unique()
items_price_avg = purchase_data.loc[:,"Price"].mean()
total_purchase = purchase_data.loc[:,"Purchase ID"]
total_revenue = purchase_data.loc[:,"Price"].sum()
purchasing_df = pd.DataFrame({"Number of Unique Items":[len(items_ID)], "Average Price":[f'${round(items_price_avg,2)}'], 
                             "Number of Purchases":[len(total_purchase)], 
                              "Total Revenue":[f'${format(round(total_revenue,2),",")}']})
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_counts = players_count["Gender"].value_counts()
gender_percentage = players_count["Gender"].value_counts(normalize = True)
gender_demo_df = pd.DataFrame({"Total Count":gender_counts, "Percentage of Players":gender_percentage})
format_dict = {'Percentage of Players':'{:.2%}'}
gender_demo_df.style.format(format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_gender = purchase_data.groupby(["Gender"])
purchase_count = purchase_gender["SN"].count()
avg_purchase_price = purchase_gender["Price"].mean()
total_purchase_value = purchase_gender["Price"].sum()
avg_spend = total_purchase_value/gender_counts

purchase_analysis = pd.DataFrame({"Purchase Count":purchase_count, 
                                  "Average Purchase Price":avg_purchase_price.map("${:.2f}".format),
                                 "Total Purchase Value":total_purchase_value.map("${:.2f}".format),
                                  "Avg Total Purchase per Person":avg_spend.map("${:.2f}".format)})
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_group_df = pd.DataFrame({"Age":players_count["Age"]})
age_group_df["Age Range"] = pd.cut(age_group_df["Age"], bins, labels=group_names, include_lowest=True)
age_group_df = age_group_df.groupby(["Age Range"])
age_count_df = age_group_df["Age"].count()
age_percentage = (age_count_df/len(players_count)).map("{:.2%}".format)

age_demo_df = pd.DataFrame({"Total Count":age_count_df, "Percentage of Players":age_percentage})
age_demo_df.index.name = None
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_age_df = pd.DataFrame(purchase_data)
purchase_age_df["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
pur_age_group_df = purchase_age_df.groupby(["Age Range"])
pur_analysis_count = pur_age_group_df["Purchase ID"].count()
pur_analysis_total = pur_age_group_df["Price"].sum()
pur_analysis_avg = pur_analysis_total/pur_analysis_count
pur_analysis_avg_person = pur_analysis_total/age_count_df
purchase_analysis_age_df = pd.DataFrame({"Purchase Count":pur_analysis_count, 
                                         "Average Purchase Price":pur_analysis_avg.map("${:.2f}".format), 
                                        "Total Purchase Value":pur_analysis_total.map("${:.2f}".format), 
                                         "Avg Total Purchase per Person":pur_analysis_avg_person.map("${:.2f}".format)})
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spend_df = pd.DataFrame(purchase_data)
spend_group_df = spend_df.groupby(["SN"])
spend_count = spend_group_df["Purchase ID"].count()
spend_total = spend_group_df["Price"].sum()
spend_avg = spend_total/spend_count
top_spender_df = pd.DataFrame({"Purchase Count":spend_count, 
                                "Average Purchase Price":spend_avg, 
                                "Total Purchase Value":spend_total})
top_spender_show = top_spender_df.sort_values("Total Purchase Value", ascending = False)
format_dict = {"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}"}
top_spender_show.head().style.format(format_dict)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
popular_df = pd.DataFrame(purchase_data)
popular_group_df = popular_df.groupby(["Item ID", "Item Name"])
popular_count = popular_group_df["Purchase ID"].count()
popular_price = popular_group_df["Price"].mean()
popular_total = popular_group_df["Price"].sum()
most_popular_df = pd.DataFrame({"Purchase Count":popular_count, 
                                "Item Price":popular_price, 
                                "Total Purchase Value":popular_total})
most_popular_show = most_popular_df.sort_values("Purchase Count", ascending = False)
format_dict = {"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"}
most_popular_show.head().style.format(format_dict)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
most_profitable_show = most_popular_df.sort_values("Total Purchase Value", ascending = False)
most_profitable_show.head().style.format(format_dict)